@import "normalize.css";
@import "reset.css";
@import "typography.css";

*{
  box-sizing: border-box;
}

.main-content-wrapper {
  min-width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;

}


.container{
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
}

.chat-area{
  width: 700px;
  height: 700px;
  border: 1px solid white;
  border-radius: 37px ;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 16px;
  overflow: hidden;
}

.header{
  height: 64px;
  font-size: 32px;
  color:white;
  font-style: bold;
  padding-left: 20px;
  display: flex;
  align-items: center;
}


.chat_list_item{
  display: flex;
  flex-direction: row;
  margin: 30px 40px 30px 40px;
}

.text_area{
  min-width: 100px;
  max-width: 254px;
  margin-left: 20px;
  padding: 23px 16px;
  line-height: 24px;
  background-color: rgb(241,240,240);
  border-radius: 35px;
  word-wrap: break-word;
}

.chat_text {
  display: inline-block;
  vertical-align: middle;
}

.footer{
  max-width: 687px;
  max-height: 64px;
  background-color: rgb(243, 243,243);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  border-radius:32px ;
}

.left_content{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 15px 20px;
}

.right_content{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  
}

.input_text{
  border: none;
  color: rgb(146,146,146);
  background-color: rgb(243, 243,243);
  font-size: 20px;
}

.button{
  width: 39px;
  height: 34px;
  border: none;
  background: url(../assets/Path1.png);
}

.button[disabled] {
  width: 39px;
  height: 34px;
  border: none;
  background: url(../assets/Path.png);
}
.text_user{
  background-color: rgb(249,195,91);
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
  font-family: halant;
  font-size: 20px;
  color: rgb(146,146,146);
}

@keyframes ellipsis {
  to {
    width: 20px;    
  }
}

@media (max-width: 700px) {
  .col-sm-12{
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .main-content-wrapper {
    min-width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: flex-start;
  }

  .header{
    height: 64px;
    font-size: 32px;
    color:white;
    font-style: bold;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  .container{
    width: 100vw;
  }
  .chat-area{
    max-width: 100vw;
    max-height: 100vh;
    border: 0px solid white;
    border-radius: 0px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0px;
  }

  .chat_list_item{
    margin: 30px 16px 30px 16px;
  }


  .footer{
    border-radius: 0px ;
    margin-left: 0px;
    margin-right: 0px;
  }




}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (                min-resolution: 192dpi) and (min-width: 700px),
only screen and (                min-resolution: 2dppx)  and (min-width: 700px) {

}
